/* BEGIN:don't shorten nameplate (JackOfAllTrades) */
.token .icon, .token:before {margin-top: 0%;}

.nameplate span {
    overflow: visible;
    min-width: fit-content;}

.nameplate {max-width: max-content;}
/* END:don't shorten nameplate */
