/* Patters Char Sheet (Potato) - Condensed Character Tab */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

#controls {
   right: 9.5vw !important;
   div[class=menu] ul {
	visibility: hidden !important;
   }
}

aside.tab.condensed.character {
  top: 0;
  right: -20.5vw !important;
  height: 100vh;
  z-index: 10;

  .jinxes {
    display: none;
  }
    .team {
      aside {
        visibility: hidden;
      }

      flex-grow: unset !important;

      ul {
        margin-left: 0;
        left: 2.5vw;
      }
    }

    li {
      height: 3.4vh;
    }

    span.icon {
      opacity: 0.5;
      width: 7vw;
      height: 3.2vh;
      top: 0;
      right: -1vw;
      background-position: left center;
    }

    .name {
      color: #0f0505;
      left: -8vw;
      width: 8vw;
      overflow: hidden;
      white-space: nowrap;
		font-family: "Bona Nova SC", serif;
		font-weight: 400;
		font-style: normal;
    }
    .role:hover .ability {
      position: absolute;
      left: -9vw;
      top: 0vh;
      width: 8.5vw;
      padding: 8px;
      font-size: .7em;
      border-radius: 10px;
      filter: drop-shadow(0 4px 6px rgba(0, 0, 0, .5));
      text-align: left;
      font-family: Trade Gothic LT Std, sans-serif;
      pointer-events: none;
      background: rgb(230, 228, 181);
      color: #000;
      border: 1px solid black;
      text-shadow: none;
      line-height: 1.2;
      z-index: 9;
    }
    .label {
      display: none;
    }
    .container {
      background-size: 50%;
      background-position: left;
    }
  }
/* END: Patters Char Sheet (Potato) */
