/* BEGIN: Rotating Tokens (Kieran.py) 
Added the bounce back by Potato */
@keyframes rotateClockwise {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  50% {
    transform: rotate(1046deg); /* After rotating for over 3 turns go the other way. */
  }
  100% {
    transform: rotate(0deg); /* Back to start and then loop */
  }
}

/* Apply the rotation animation to .token .icon */
.token  .icon {
  animation: rotateClockwise 30s linear infinite; /* 30s for a slow rotation, you can adjust the duration */
}

.token .name {
  animation: rotateClockwise 25s ease-in-out infinite; /* 30s for a slow rotation, you can adjust the duration */
}
/* END: Rotating Tokens (Kieran.py) */
